<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <title>Main</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</html>
<body>
    <div id="fixed-header">
        <header>
            
        </header>
    </div>
    <div id="wrapper">
        <div class="m-col-el">
            <li><a th:href="@{/upload}">Upload</a></li><br>
            <li><a th:href="@{/register}">Register</a></li><br>
            <li><a th:href="@{/login}">Login</a></li><br>
            <li><a th:href="@{/account}">Account</a></li>
        </div>
    </div>
</body>