<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <div class="m-col-el">
            <div id="tableContainer">
                <div class="picturesDiv">
                    <table id="picturesTable">
                      <tr>
                        <th>№</th>
                        <th>Preview</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Functions</th>
                    </tr>
                    <tr th:each="picture, iStat: ${pictures}">
                        <td th:text="${iStat.index}"></td>
                        <td><img class="picture-preview" th:src="@{/images/placeholder.jpg}"></td>
                        <td th:text="${picture.name}"></td>
                        <td th:text="${picture.date}"></td>
                        <td>
                            <svg class="control-svg renameBt" id="renames" src="@{/svg/pen.svg}" onclick="alert('NOT IMPLEMENTED YET')"></svg>
                            <svg class="control-svg linkBt" id="link" src="@{/svg/link.svg}" onclick="alert('NOT IMPLEMENTED YET')"></svg>
                            <svg class="control-svg deleteBt" id="delete" src="@{/svg/cross.svg}" onclick="alert('NOT IMPLEMENTED YET')"></svg>
                        </td>
                    </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>
</html>