<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Upload</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>

<body>
    <div id="wrapper">
        <div class="m-col-el">
            <span class="span-error-text" th:text="${message}"></span>
        </div>
        <div class="m-col-el">
            <form id="div-form-login" action="/upload" method="post" enctype="multipart/form-data">
                File: <input type="file" name="file" /><br />
                <button class="button-regular" type="submit">Upload</button>
            </form>
        </div>
    </div>

</body>

</html>